[Unit]
Description=Webapp
After=network.target

[Service]
WorkingDirectory=/opt/csye6225/
User=csye6225
Group=csye6225
ExecStart=/bin/sh -c 'java -jar /opt/csye6225/webapp.jar --spring.profiles.active=demo --spring.config.location=file:/opt/csye6225/application-demo.yml --csv.file.path=file:/opt/csye6225/users.csv >> /var/log/csye6225.log 2>&1'
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target

